<%- include('../partials/header') %>

<h1>List of things</h1>

<%things.forEach(function(thing) {%>
<div>
<h3>Thing you added:</h3> <h4><%= thing.name%></h4>
<a href="/things/<%= thing._id%>">Details</a>
</div>
    <%})%>

<%- include('../partials/footer') %>